.home{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.5rem;
    max-width: 700px;
    margin: 2rem auto;
}

.img-container{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-container::before , .img-container::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: conic-gradient(
        transparent,
        transparent,
        transparent,
        transparent,
        var(--blue)
    );
    animation: revolve 4s linear infinite;
}

.img-container::after{
    animation-delay: 2s;
}
@keyframes revolve {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}

.img-container img{
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;

}

.details h2 {
    font-size: 2.5rem;
}
 .details p {
    font-size: 1.3rem;
    text-align: justify;
 }
 @media screen and (width >= 1024px){
    .home {
        margin: 3rem auto;
    }
    .img-container{
        width: 400px;
        height: 400px;
    }
    .details{
        gap: 30px;

    }
    .details h2 {
        font-size: 5rem;
    }

    .details h3{
        font-size: 2rem;
        display: flex;
        align-items: center;
        gap: 10px;
        white-space: nowrap;
        overflow: hidden;
    }

    .details h3 span{
        color: var(--blue);
        display: inline-block;
        min-width: 130px;
        overflow: hidden;
        white-space: nowrap;

    }

    .details h3 span::after{
        content: "|";
        margin-left: 5px;
        animation: blink 0.7s steps(1) infinite;
    }

    @keyframes blink {
        0% ,100% {
            opacity: 1;
        }
        50%{
            opacity: 0;
        }
        
    }
    .details p {
        font-size: 1.6rem;
    }
 }

 @media screen and (width >= 768px) {
    .home{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        gap: 3.5rem;
        width: 100%;
        max-width: 100%;
    }
    .details h2 {
        font-size: 3.5rem;
    }
    
 }
 .details h3 {
    font-size: 2.5rem;
 }